Bug Traking/Service References/LiveClassifi/LiveClassification1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataContracts.Country.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataContracts.Country.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReqCountry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReqCountry" nillable="true" type="tns:ReqCountry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReqCountry" nillable="true" type="tns:ArrayOfReqCountry" />
  <xs:complexType name="ReqCountry">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CenterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="County" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModificationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ParentAreaCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentAreaTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RuralDistinct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RuralDistinctCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatisticsOrgCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Township" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TownshipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReqCountry" nillable="true" type="tns:ReqCountry" />
</xs:schema>