Bug Traking/Service References/LiveClassifi/LiveClassification.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LiveClassification" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://app2.shahab.behdasht.gov.ir/ShahabServices/LiveClassification.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://app2.shahab.behdasht.gov.ir/ShahabServices/LiveClassification.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://app2.shahab.behdasht.gov.ir/ShahabServices/LiveClassification.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataContracts.Behdasht.Request" />
      <xsd:import schemaLocation="http://app2.shahab.behdasht.gov.ir/ShahabServices/LiveClassification.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataContracts.Country.Request" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILiveClassification_GetBehdashtClassificationByParam_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBehdashtClassificationByParam" />
  </wsdl:message>
  <wsdl:message name="ILiveClassification_GetBehdashtClassificationByParam_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBehdashtClassificationByParamResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveClassification_GetCountryClassificationByParam_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryClassificationByParam" />
  </wsdl:message>
  <wsdl:message name="ILiveClassification_GetCountryClassificationByParam_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryClassificationByParamResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveClassification_GetCountryClassificationByCountryCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryClassificationByCountryCode" />
  </wsdl:message>
  <wsdl:message name="ILiveClassification_GetCountryClassificationByCountryCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryClassificationByCountryCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="ILiveClassification">
    <wsdl:operation name="GetBehdashtClassificationByParam">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveClassification/GetBehdashtClassificationByParam" message="tns:ILiveClassification_GetBehdashtClassificationByParam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveClassification/GetBehdashtClassificationByParamResponse" message="tns:ILiveClassification_GetBehdashtClassificationByParam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryClassificationByParam">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveClassification/GetCountryClassificationByParam" message="tns:ILiveClassification_GetCountryClassificationByParam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveClassification/GetCountryClassificationByParamResponse" message="tns:ILiveClassification_GetCountryClassificationByParam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryClassificationByCountryCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveClassification/GetCountryClassificationByCountryCode" message="tns:ILiveClassification_GetCountryClassificationByCountryCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveClassification/GetCountryClassificationByCountryCodeResponse" message="tns:ILiveClassification_GetCountryClassificationByCountryCode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILiveClassification" type="tns:ILiveClassification">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBehdashtClassificationByParam">
      <soap:operation soapAction="http://tempuri.org/ILiveClassification/GetBehdashtClassificationByParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryClassificationByParam">
      <soap:operation soapAction="http://tempuri.org/ILiveClassification/GetCountryClassificationByParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryClassificationByCountryCode">
      <soap:operation soapAction="http://tempuri.org/ILiveClassification/GetCountryClassificationByCountryCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LiveClassification">
    <wsdl:port name="BasicHttpBinding_ILiveClassification" binding="tns:BasicHttpBinding_ILiveClassification">
      <soap:address location="http://app2.shahab.behdasht.gov.ir/ShahabServices/LiveClassification.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>